/* | HEADER | ====== */

.header {
    height: 12vh;
    width: 100vw;
    padding: 0.5vh 2vw;
    position: fixed;
    z-index: 1000;
    background-color: #faf6f0;
}

.header_inner {
    display: flex;
    height: 100%;
}

.menu {
    flex: 1;
    align-items: center;
    align-self: center;
    justify-content: end;
}

.menu-btn {
    display: flex;
    transition: background-color .8s;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: #000;
    border-radius: 10px;
    border: #000 solid 2px;
    font-family: 'Akira Expanded', sans-serif;
    font-weight: 900;
    margin: 0 10px;
    box-shadow: -5px 5px #000;
    background-color: #ffffff;
}

.header-out {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 12vh;
    left: 0;
    background: rgba(0, 0, 0, .7);
    padding-bottom: 80vh;
}

.header-out-menu {
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
}

.inner-btn {
    flex: 1;
    height: 50px;
    margin: auto 5%;
    text-align: center;
}

.cerrar-container {
    display: flex;
    justify-content: center;
    height: 10%;
}

.cerrar {
    font-size: 25px;
    width: 100%;
    height: 5vh;
    background: #FF7F41;
    border: none;
    color: #e6e6e6;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 768px) {
    .header-out {
        padding-bottom: 60vh;
    }
    .header-out-menu {
        flex-wrap: wrap;
    }
    .inner-btn {
        flex: 1;
    }
    #about-header {
        /* margin: 0 auto;*/
    }
}

.title {
    height: 100%;
    margin: 0 3vw;
    justify-content: center;
    text-align: center;
}

.buttons {
    height: 80%;
    flex: 1;
    align-items: center;
    align-self: center;
    justify-content: end;
    padding-right: 30px;
}

.title,
.buttons {
    display: flex;
    flex: 1;
}

@media screen and (max-width: 375px) {
    .title {
        height: 70%;
        margin: 0 2vw;
    }
}